* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #888024;
    color: #46480a;
    line-height: 1.7;
}


/* =========================
   NAVBAR
========================= */

header {
    background: #792488;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    max-width: 1150px;
    margin: auto;
    padding: 18px 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 28px;
}

.nav-menu a {
    color: #c78438;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #ffb9fa;
}


/* =========================
   HERO
========================= */

.hero {
    min-height: 570px;

    background:
        linear-gradient(
            #792488,
            #888024
        );

    display: flex;
    align-items: center;
}

.hero-content {
    width: 1150px;
    margin: auto;
    padding: 60px 25px;
}

.label,
.category,
.case-tag {
    display: inline-block;

    color: #ff65f5;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
}

.hero h1 {
    max-width: 850px;
    margin: 18px 0;

    color: white;
    font-size: clamp(38px, 6vw, 70px);
    line-height: 1.08;
}

.hero p {
    color: #c8add0;
    font-size: 18px;
    margin-bottom: 30px;
}

.button {
    display: inline-block;

    padding: 12px 23px;

    background:#ffb9ff;

    color: #11151a;

    text-decoration: none;
    font-weight: bold;

    border-radius: 4px;

    transition: 0.3s;
}

.button:hover {
    transform: translateY(-3px);
}


/* =========================
   ARTICLE
========================= */

main {
    max-width: 1000px;
    margin: 70px auto;
    padding: 0 25px;
}

.article {
    background: white;
    padding: 55px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.06);
}

.article-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    margin-bottom: 35px;
}

.article-header h2 {
    font-family: Georgia, serif;
    font-size: 42px;
    line-height: 1.2;
    margin: 15px 0;
}

.author {
    font-weight: bold;
    margin-top: 15px;
}

.date {
    color: #777;
    font-size: 14px;
}

.content p {
    margin-bottom: 22px;
    color: #444;
}

.content h3 {
    font-family: Georgia, serif;
    font-size: 30px;
    margin: 45px 0 18px;
    color: #16191d;
}

/* =========================
   CONCLUSION
========================= */

.conclusion {
    margin-top: 55px;
    padding: 35px;

    background: #7f407b;
    color: white;
}

.conclusion h3 {
    color: white;
    margin-top: 12px;
}

.conclusion p {
    color: #ccc;
}


/* =========================
   FOOTER
========================= */

footer {
    background: #11151a;
    padding: 50px 25px;
    color: #aaa;
}

.footer-content {
    max-width: 1000px;
    margin: auto;
}

.footer-content h3 {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-content p {
    margin-bottom: 20px;
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 750px) {

    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .nav-menu {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero {
        min-height: 500px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .article {
        padding: 30px 22px;
    }

    .article-header h2 {
        font-size: 32px;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}